<!DOCTYPE html>
<html lang="en">
    <%- include('layout/head'); -%>

    <%- include('layout/create'); -%>

<style>
    /* Only apply Bootstrap styles within .bootstrap-scope */
    .bootstrapscope {
        /* Inherit Bootstrap styling */
        @import url('https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');
    }
</style>

    <body>
        <%- include('layout/nav'); -%>
        <!-- Page Header-->
        <%- include('layout/header'); -%>
        
        <!-- Main Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    <form action="/posts/store" method="POST"
                        enctype="multipart/form-data">

                        <div class="control-group">
                            <div
                                class="form-group floating-label-form-group controls">
                                <label>Image</label>
                                <input type="file" class="form-control"
                                    id="image" name="image">
                            </div>
                        </div>

                        <div class="control-group">
                            <div
                                class="form-group floating-label-form-group controls">
                                <label>Title</label>
                                <input type="text" class="form-control"
                                    placeholder="Title" id="title" name="title">
                            </div>
                        </div>
                        <div class="control-group">
                            <div
                                class="form-group floating-label-form-group controls">
                                <label>Description</label>

                                <!--  <textarea rows="5" class="form-control" id="body" name="body"></textarea> -->

                                <div classname="bootstrapscope">
                                <textarea id="summernote" 
                                    name="body"></textarea>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"
                                id="sendMessageButton">Send</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- Footer-->
        <!-- Footer-->
        <%- include('layout/footer'); -%>
        <!-- Bootstrap core JS-->
        <%- include('layout/script'); -%>
        
        <script>
            $(document).ready(function() {
                $('#summernote').summernote();
                });
        </script>
    </body>
</html>

